option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: gifts_project.wsgi:application

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: gifts_project.settings
    PYTHONPATH: /var/app/current
    MYSQL_DB_NAME: "your_db_name"
    MYSQL_DB_USER: "your_db_user"
    MYSQL_DB_PASSWORD: "your_db_password"
    MYSQL_DB_HOST: "your_db_host"

packages:
  yum:
    mysql-devel: []

container_commands:
  01_migrate:
    command: "python3 manage.py migrate"
  02_collectstatic:
    command: "python3 manage.py collectstatic --noinput"
