option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: gifts_project.wsgi:application

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: gifts_project.settings
    PYTHONPATH: "/var/app/venv/staging-LQM1lest/lib/python3.11/site-packages"
    MYSQL_DB_NAME: "gift-db"
    MYSQL_DB_USER: "admin"
    MYSQL_DB_PASSWORD: "rdsdbpass"
    MYSQL_DB_HOST: "gift-db.c7dkpauywhzv.us-west-2.rds.amazonaws.com"

packages:
  yum:
    mariadb105-devel: []
    python3-devel: []
  pip:
    mysqlclient: []

container_commands:
  01_install_requirements:
    command: |
      source /var/app/venv/staging-LQM1lest/bin/activate && \
      cd /var/app/staging/gifts-backend && \
      pip install -r /var/app/staging/gifts-backend/requirements.txt
  02_migrate:
    command: |
      source /var/app/venv/staging-LQM1lest/bin/activate && \
      cd /var/app/staging/gifts-backend && \
      python manage.py migrate
  03_collectstatic:
    command: |
      source /var/app/venv/staging-LQM1lest/bin/activate && \
      cd /var/app/staging/gifts-backend && \
      python manage.py collectstatic --noinput && \
      echo "Checking echo functionality" 
  04_gunicorn_start:
    command: |
      echo "Starting gunicorn command" && \
      source /var/app/venv/staging-LQM1lest/bin/activate && \
      cd /var/app/staging/gifts-backend && \
      echo "After source and cd, before gunicorn line" && \
      gunicorn --bind :8000 --log-level debug gifts_project.wsgi:application & \
      echo 'At the end of the gunicorn command'
  05_test_echo:
    command: "echo 'Got past gunicorn'"